/* start public  */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    --colorbackgroundlabel:#FB2E86;
    --colorborder:#E7E6EF;
    --textcolor:#0D0E43;
    --titlecolor:#151875;
}
body{
    padding-top: 100px ;
    background-color: #F5F5F5;
}
a{
    text-decoration: none;
}
ul{
    text-transform:capitalize ;
    list-style-type:none;
}
.container {
width: 80%;
padding: 0  50px;
max-width: 1400px;
margin: 0 auto;
}

.row{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.btn{
  padding: 1px 8px ;
    border: none;
    background-color: var(--colorbackgroundlabel);
}
h1 , h2 , h3 , h4 ,h5 {
    text-transform: capitalize;
}
/*end public*/

/* start header*/