
/* start header*/
/* start header*/
.header{
    width: 100%;
    position: fixed;
    top: 0px;
}
.header .container .row {
    gap: 60px;
    padding: 10px 0px;
}
  
  
.list ul{ 
   
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   
}
#home {
    color: var(--colorbackgroundlabel);
}
.list ul a {
 color: var(--textcolor);
transition: color 1.1s ;
   
    
}

 .list  a:hover {
    color: var(--colorbackgroundlabel);
   
}
.research form , .footer form {
    display: flex;
    flex-wrap: nowrap;
    border: none;
}
   

.research form input , .footer form input {
   border-style: solid;
   border-color: var(--colorborder);
}
.header .menu{
    display: none;
}

@media screen and (min-width:300px) and (max-width:480px){
   .container{
        width: 100% ;
    }
 .header .list ,.research form   {
        display: none;
    }
  
 .header .menu{
    display: block;
 }

   .header .container .row {
   justify-content: space-evenly;
    flex-wrap: nowrap;
     
    }

}
   
@media screen and (min-width:481px) and (max-width:1007px){
     .container{
        width: 100% ;
    }
 .header .list ,.research form   {
        display: none;
    }
  
 .header .menu{
    display: block;
 }

   .header .container .row {
     flex-wrap: nowrap;
       justify-content: space-between;
    }

}


@media screen and (min-width:1008px) and (max-width:1280px){
    .container{
        width: 90%;
    }
    .header .container .row {
        flex-wrap: nowrap;
       justify-content: space-between;
    }
    .list ul{
        flex-wrap: nowrap;
       justify-content: space-between;
    }
    

}

@media screen and (min-width:1281px) and (max-width:1360px){
    .container{
        width: 80%;
    }
      .header .container .row {
       justify-content: space-between;
    }
}

@media screen and (min-width:1361px) and (max-width:1661px)  {
    .container{
        width: 70%;
    }
      .header .container .row {
        flex-wrap: nowrap;
       justify-content: space-between;
       
    }
     .list ul{
        flex-wrap: nowrap;
       justify-content: space-between;
    }
}
/*end header*/

/*start product*/
.products{
    width: 100%;
    
}
.products .row {
  width: 100%;
    flex-direction: column;
    gap: 19px;
    padding: 20px 0px;
     align-items: center;
    justify-content:center;
      
}

.products  .product-item .row{
   width: 100%;

      flex-direction: row;
   
      gap: 2px;
}
/*
.products
  { background-color: #05E6B7;
   width: calc((100% - 2px) /4);}*/
 

 .product-item  .product-img {
     background-color: #EEEFFB;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
 box-shadow:0px 0px 10px 0px #afb1cf;
 
}
.btn-view , .list-icon{
    display: none;
}
 .product-item .product .row {
      

flex-direction: column;

       gap: 2px;
  
   
   
}

 .product .infoproduct .row {
     background-color: #F6F7FB;
   
width: 200px;
     flex-direction: column;
     gap: 2px;
    align-items: center;
    justify-content: center;
    transition:   background-color 1.1s ;
 
   
   

}
 .product-info3 .row{
    
    flex-direction: column ;
  align-items: center;
  justify-content: center;
 gap: 2px;

   
}
.btn-color{
    border: 0;
    outline: 0;
    width: 20px;
    height: 6px;
    border-radius: 10px;
  
}
.color-one{
   background-color: #05E6B7;
}
.color-two{
    background-color: #F701A8;
}
.color-three{
    background-color: #00009D;
}

/*start hover*/
.product:hover .infoproduct .row {
background-color:#00009D;
}

.product:hover .product-img  {
  display: flex;
 
  flex-direction: column !important ;
 
  align-items: center;
  justify-content: center;

 }

 .product:hover .product-img  .list-icon{
    display: flex;
    flex-direction: row ;
     color: rgb(74, 196, 223);
    align-items: flex-start;
  justify-content: flex-start;
  margin-left: -110px;
  margin-top: 4px;
 }
 .product:hover .btn-view{
    display: block;
    background-color: rgb(159, 215, 159);
    border: 0;
    margin-left: 5px;
    margin-bottom: 5px;
 }
 .product:hover .color-three{
    background-color: #fcfcff;
}
/*end hover*/

@media screen and (min-width:702px) and (max-width:905px){
 .product-item  .product-img {
     background-color: #EEEFFB;
    height: 220px;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
 box-shadow:0px 0px 10px 0px #afb1cf;
 
}
 .product .infoproduct .row {
     background-color: #F6F7FB;
   
width: 275px;
     flex-direction: column;
     gap: 2px;
    align-items: center;
    justify-content: center;
    transition:   background-color 1.1s ;
 
   
   

}
}

/*end product*/

/*start ourNews*/
 .ourNews .container .row {

    background-repeat: no-repeat;
    height: 30vh ;
    background-size: 100%;
    background-image : url(./../image/Rectangle\ 102.png );
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
   text-transform:capitalize ;
   color: var(--titlecolor);
   font-family: 'Courier New', Courier, monospace;
 }
.ourNews .container .btn{
    width: 15%;
    padding: 12px 0px;
    color: var(--colorborder);
}

@media screen and (min-width:320px) and (max-width:435px){
  .container{
        width: 100% ;
    }
    .ourNews .container .row {
        background-repeat: repeat;
        flex-direction: column;
        height: 30vh ;
        background-size: 100%;
        gap: 10px;
        align-items: center;
       justify-content: center;
        font-size: 10px ;
        
    }
    .ourNews .container .btn{
       
      font-size: 10px;
     
    color: var(--colorborder);
    }
}

@media screen and (min-width:436px) and (max-width:640px){
  .container{
        width: 100% ;
    }
    .ourNews .container .row {
        flex-direction: row;
        height: 20vh ;
        
        background-size: 100%;
        gap: 15px;
        font-size: 10px ;
        
    }
    .ourNews .container .btn{
       
      font-size: 10px;

    color: var(--colorborder);
    }
}
/*end ourNews*/

/*start footer*/
   .footer .icon_item{
     display: none;
}

.footer .row {
    width: 100%;
    background-color: #EEEFFB;
     align-items: flex-start;
     justify-content: space-between;
     padding: 15px ;
     gap: 20px;
}
.footer .footer_left  {
    width: calc((100% - 20px) / 2);
    color: #8A8FB9;
    display: flex;
    gap: 13px;
    flex-direction: column;
   padding: 15px 0px  ;
   
    
}

.footer .footer_right  {
    width: calc((100% - 20px) / 2) ;
   
    
 
  
}
.footer .footer_right .footer_item{
display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 15px;

}
.footer .list_item{
   display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 10px;
 
}

.footer .footer_right a{
    color: #8A8FB9;
}

@media screen and (min-width:300px) and (max-width:552px){
  .container{
        width: 100% ;
    }
    .footer  .container .row { 
         width: 100%;
        display: flex;
       flex-wrap: wrap;
       font-size: 10px;
        
        }
        
        .footer .footer_right .footer_item{
            
             display: flex;
             flex-wrap: wrap;
            flex-direction: row;
            gap: 2px;

}
        .footer form input{
        display: none;
     }
     .footer .list_item{
        display: none;
     }
        .footer .icon_item{
         display: block;
     }
}
@media screen and (min-width:552px) and (max-width:788px){
  .container{
        width: 100% ;
    }
    .footer  .container .row { 
         width: 100%;
        font-size: 10px;
        
        gap: 8px;
        display: flex;
       flex-wrap: wrap;
      
     
    }

}
/*end footer*/