*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    --colorbackgroundlabel:#FB2E86;
    --colorborder:#E7E6EF;
    --textcolor:#0D0E43;
}
body{
    height: 6000px;
    background-color: #dbd1d9;
}
a{
    text-decoration: none;
}

.container {
width: 100%;
padding: 0  50px;
max-width: 1400px;
margin: 0 auto;

}
.header{
    width: 100%;
    position: fixed;
    top: 0px;
}
.header .container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 10px 0px;
    margin-left: 10px;
    align-items: center;
    justify-content: space-between;
  


.list ul{
    text-transform:  uppercase;
    list-style-type:none;
    display: flex;
    gap: 30px;
   
}
#home {
    color: var(--colorbackgroundlabel);
}
.list ul a {
 color: var(--textcolor);
transition: color 1.1s ,  background-color 1.1s;
   
    
}

 .list  a:hover {
    color: var(--colorbackgroundlabel);
    background-color: var(--textcolor);
}
.research form{
    display: flex;
    border: none;
}
.research form button{
    padding: 1px 8px ;
    border: none;
    background-color: var(--colorbackgroundlabel);
}
.research form input{
   border-style: solid;
   border-color: var(--colorborder);
}
