

/* start header*/
.header{
    width: 100%;
    position: fixed;
    top: 0px;
}
.header .container .row {
    gap: 60px;
    padding: 10px 0px;
}
  
  
.list ul{ 
   
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   
}
#home {
    color: var(--colorbackgroundlabel);
}
.list ul a {
 color: var(--textcolor);
transition: color 1.1s ;
   
    
}

 .list  a:hover {
    color: var(--colorbackgroundlabel);
   
}
.research form , .footer form {
    display: flex;
    flex-wrap: nowrap;
    border: none;
}
   

.research form input , .footer form input {
   border-style: solid;
   border-color: var(--colorborder);
}
.header .menu{
    display: none;
}

@media screen and (min-width:300px) and (max-width:480px){
   .container{
        width: 100% ;
    }
 .header .list ,.research form   {
        display: none;
    }
  
 .header .menu{
    display: block;
 }

   .header .container .row {
   justify-content: space-evenly;
    flex-wrap: nowrap;
     
    }

}
   
@media screen and (min-width:481px) and (max-width:1007px){
     .container{
        width: 100% ;
    }
 .header .list ,.research form   {
        display: none;
    }
  
 .header .menu{
    display: block;
 }

   .header .container .row {
     flex-wrap: nowrap;
       justify-content: space-between;
    }

}


@media screen and (min-width:1008px) and (max-width:1280px){
    .container{
        width: 90%;
    }
    .header .container .row {
        flex-wrap: nowrap;
       justify-content: space-between;
    }
    .list ul{
        flex-wrap: nowrap;
       justify-content: space-between;
    }
    

}

@media screen and (min-width:1281px) and (max-width:1360px){
    .container{
        width: 80%;
    }
      .header .container .row {
       justify-content: space-between;
    }
}

@media screen and (min-width:1361px) and (max-width:1661px)  {
    .container{
        width: 70%;
    }
      .header .container .row {
        flex-wrap: nowrap;
       justify-content: space-between;
       
    }
     .list ul{
        flex-wrap: nowrap;
       justify-content: space-between;
    }
}
/*end header*/
/*start product*/
 .products{
    width: 100%;
    
}
  /*  لعرض العنوان والمنتجات (محتوى سكشن) جنب  بعض */

.products .row{
  width: 100%;
    flex-direction: column;
    gap: 19px;
    padding: 20px 0px;
     align-items: center;
    justify-content:center;
    flex-wrap: wrap;
      
}
  /*  لعرض البرودكت جنب  بعض */
.products .product-item .row{
  
   width: 100%;
      flex-wrap: wrap;
      flex-direction: row;
   
      gap: 10px;
}
   /* لعرض الصورة والمعومات تحت بعض */
.product-item .product .row {
    flex-direction: column;
    gap: 2px;

}

/*start Featured product*/

 
 .Fproduct-item  .product-img {
     background-color: #EEEFFB;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
 box-shadow:0px 0px 10px 0px #afb1cf;
 padding: 20px;
 
}
.btn-view , .list-icon{
    display: none;
}


 .Fproduct .infoproduct .row {
     background-color: #F6F7FB;
     flex-direction: column;
     gap: 2px;
    align-items: center ;
    justify-content: center ;
   padding: 0px 27px;
    transition:   background-color 1.1s ;

}
 .product-info3 .row{
    
    flex-direction: column ;
  align-items: center;
  justify-content: center;
 gap: 2px;

   
}
.btn-color{
    border: 0;
    outline: 0;
    width: 20px;
    height: 6px;
    border-radius: 10px;
  
}
.color-one{
   background-color: #05E6B7;
}
.color-two{
    background-color: #F701A8;
}
.color-three{
    background-color: #00009D;
}

/*start hover*/
.Fproduct:hover .infoproduct .row {
background-color:#00009D;
}

.Fproduct:hover .product-img  {
  display: flex;
 
  flex-direction: column !important ;
 
  align-items: center;
  justify-content: center;

 }

 .Fproduct:hover .product-img  .list-icon{
    display: flex;
    flex-direction: row ;
     color: rgb(74, 196, 223);
    align-items: flex-start;
  justify-content: flex-start;
  margin-right: 50px;
  margin-left: -50px;
  margin-top: 4px;
 }
 .Fproduct:hover .btn-view{
    display: block;
    background-color: rgb(159, 215, 159);
    border: 0;
    margin-left: 5px;
    margin-bottom: 5px;
 }
 .Fproduct:hover .color-three{
    background-color: #fcfcff;
}
/*end hover*/

@media screen and (min-width:566px) and (max-width:1080px){
.Fproduct-item .Fproduct
  { flex-wrap: wrap;
   width: 45%;
   gap :10px;
   }
}

/*end Featured product*/

/*start Leatest-Products*/

.list_title{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
 .Lproduct-item  .Lproduct-img {
     background-color: #EEEFFB;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

 .Lproduct .Linfoproduct .row {
     background-color: #F6F7FB;
     flex-direction: row;
     gap: 55px;
    align-items:normal ;
    justify-content: center;
   padding: 0px;
   
}
.Linfoproduct .sale{
    color: #FB2448;
    font-size: 12px;
    text-decoration: line-through;
}
.Linfoproduct .newprice{
    font-size: 14px;
    color: var(--titlecolor);
}
.Lproduct h3{
color: var(--titlecolor);
font-size: 16px;
border-bottom: solid #EEEFFB;

}



/*start hover*/
.list_title a:hover{

    color: var(--colorbackgroundlabel);
    text-decoration: underline;
}


.Lproduct:hover .Lproduct-img {

 background-color:#F6F7FB ;
 gap: 20px;
}
.Lproduct:hover .Lproduct-img img
{ border: solid black;}

.Lproduct:hover .Lproduct-img .list-icon{
    display: flex;
    flex-direction: column;
    color: var(--iconcolor);
    gap:  8px;
     justify-content: center;
    align-items: center;

 margin-top: 50px;
 font-size: 14px;
 
}

/*end hover*/

@media screen and (min-width:743px) and (max-width:1080px){
.Lproduct-item  .Lproduct .row 
  
  { flex-wrap: wrap;
   
   gap :18px;
   }
}

/* end Leatest-Products*/
/*start Trending-Product*/
 .Tproduct-item  .Tproduct .row {
 border: solid 8px  #F6F7FB;
 background-color:  #F6F7FB;

 gap: 0;
 padding: 0px;
}

 .Tproduct-item  .Tproduct-img {
     background-color: #EEEFFB;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

 padding: 20px;
 
}


 .Tproduct .Tinfoproduct .row {
    
     background-color: #F6F7FB;
     flex-direction: column;
     gap: 5px;
    align-items:center ;
    justify-content: center;
    padding: 11px 39px;
  

   
}
.Tinfoproduct .sale{
    color: #8b8a91;
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 6px;

}
.Tinfoproduct .newprice{
    font-size: 14px;
    color: var(--titlecolor);
}
.Tproduct h3{
color: var(--titlecolor);
font-size: 16px;


}

@media screen and (min-width:566px) and (max-width:1150px){
.Trending-Product .Tproduct-item .row 
   
  {
     flex-wrap: wrap;
       gap :50px;
       margin-right: 30px;
       padding: 0px;
   }
}


/* end Trending-Product*/
/*end product*/
/*start ourNews*/
 .ourNews .container .row {

    background-repeat: no-repeat;
    height: 30vh ;
    background-size: 100%;
    background-image : url(./../image/Rectangle\ 102.png );
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
   text-transform:capitalize ;
   color: var(--titlecolor);
   font-family: 'Courier New', Courier, monospace;
 }
.ourNews .container .btn{
    width: 15%;
    padding: 12px 0px;
    color: var(--colorborder);
}

@media screen and (min-width:320px) and (max-width:435px){
  .container{
        width: 100% ;
    }
    .ourNews .container .row {
        background-repeat: repeat;
        flex-direction: column;
        height: 30vh ;
        background-size: 100%;
        gap: 7px;
        align-items: center;
       justify-content: center;
        font-size: 8px ;
        
    }
    .ourNews .container .btn{
       
      font-size: 10px;
     
    color: var(--colorborder);
    }
}

@media screen and (min-width:436px) and (max-width:640px){
  .container{
        width: 100% ;
    }
    .ourNews .container .row {
        flex-direction: row;
        height: 20vh ;
        
        background-size: 100%;
        gap: 15px;
        font-size: 10px ;
        
    }
    .ourNews .container .btn{
       
      font-size: 10px;

    color: var(--colorborder);
    }
}
/*end ourNews*/

/*start footer*/


.footer .row {
    width: 100%;
    background-color: #EEEFFB;
     align-items: flex-start;
     justify-content: space-between;
     padding: 15px ;
     gap: 20px;
     margin-top: 50px;
}
.footer .footer_left  {
    width: calc((100% - 20px) / 2);
    color: #8A8FB9;
    display: flex;
    gap: 13px;
    flex-direction: column;
   padding: 15px 0px  ;
   
    
}

.footer .footer_right  {
    width: calc((100% - 20px) / 2) ;
   
    
 
  
}
.footer .footer_right .footer_item{
display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 15px;

}
.footer .list_item{
   display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 10px;
 
}

.footer .footer_right a{
    color: #8A8FB9;
}

@media screen and (max-width:788px){
  .container{
        width: 100% ;
    }
    .footer  .container .row { 
         width: 100%;
        display: flex;
       flex-wrap: wrap;
         flex-direction: column;
        gap: 20px;
       align-items: flex-start ;
      justify-content: flex-start ;
       
        
        }
        
        .footer .footer_right .footer_item{
            
             display: flex;
             flex-wrap: wrap;
             flex-direction: column;
        gap: 8px;
       align-items: flex-start ;
      justify-content: flex-start ;
       
           
}
     
}

/*end footer*/