/* start public  */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    --colorbackgroundlabel:#FB2E86;
    --colorborder:#E7E6EF;
    --textcolor:#0D0E43;
}
body{
    height: 6000px;
    background-color: #dbd1d9;
}
a{
    text-decoration: none;
}

.container {
width: 70%;
padding: 0  50px;
max-width: 1400px;
margin: 0 auto;
}

.row{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/*end public*/

/* start header*/
.header{
    width: 100%;
    position: fixed;
    top: 0px;
}
.header .container .row {
    gap: 60px;
    padding: 10px 0px;
}
  
  
.list ul{ 
    text-transform:  uppercase;
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   
}
#home {
    color: var(--colorbackgroundlabel);
}
.list ul a {
 color: var(--textcolor);
transition: color 1.1s ,  background-color 1.1s;
   
    
}

 .list  a:hover {
    color: var(--colorbackgroundlabel);
    background-color: var(--textcolor);
}
.research form {
    display: flex;
    flex-wrap: nowrap;
    border: none;
}
.research form button{
    padding: 1px 8px ;
    border: none;
    background-color: var(--colorbackgroundlabel);
}
.research form input{
   border-style: solid;
   border-color: var(--colorborder);
}
.header .menu{
    display: none;
}

@media screen and (min-width:300px) and (max-width:480px){
    .container{
        width: 100% ;
    }
 .header .list ,.research form   {
        display: none;
    }
  
 .header .menu{
    display: block;
 }

   .header .container .row {
    
    flex-wrap: nowrap;
     
    }

}
@media screen and (min-width:481px) and (max-width:1007px){
 .header .list ,.research form   {
        display: none;
    }
  
 .header .menu{
    display: block;
 }

   .header .container .row {
       justify-content: space-between;
    }

}

@media screen and (min-width:1008px) and (max-width:1260px){
    .container{
        width: 100%;
    }

}

@media screen and (min-width:1261px) and (max-width:1470px) {
    .container{
        width: 80%;
    }
      .header .container .row {
       justify-content: space-between;
    }
}
/*end header*/